.root {
  -fx-font-family: AppleGothic;
  -fx-font-size: 14pt;
  -fx-text-alignment: center;
  -fx-text-fill: white;
}

#Background {
  -fx-fill:
      linear-gradient(rgb(77,0,153), rgb(0,43,128));
}

#StartButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}

#FileUploadButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}

#MainVBox {
  -fx-alignment: center;
}

#StyleChoice {
  -fx-padding: 20;
  -fx-border-color: white;
  -fx-alignment: center;
  -fx-text-fill: white;
}

#LanguageChoice {
  -fx-alignment: center;
  -fx-padding: 20;
  -fx-border-color: white;
  -fx-text-fill: white;
}

#LanguageChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
  -fx-text-fill: white;
}
#StyleChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
  -fx-text-fill: white;
}

#DropDownText {
  -fx-text-fill: white;
}

#GameButtons {
  -fx-background-color: rgba(0,0,0, 0.9);
  -fx-border-color: white;
  -fx-padding: 10;
}

#SaveButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}