.root {
  -fx-font-family: AppleGothic;
  -fx-font-size: 14pt;
  -fx-text-alignment: center;
  -fx-text-fill: white;
}

.label {
  -fx-text-fill: white;
  -fx-text-alignment: center;
}

#GamePiecePopUp {
  -fx-alignment: center;
  -fx-base: black;
}

#DiceRollPopUp {
  -fx-alignment: center;
  -fx-base: black;
}

#Background {
  -fx-fill:
      linear-gradient(rgb(77,0,153), rgb(0,43,128));
}

#StartButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}

#FileUploadButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}

#MainVBox {
  -fx-alignment: center;
}

#StyleChoice {
  -fx-padding: 20;
  -fx-border-color: white;
  -fx-alignment: center;
  -fx-text-fill: white;
}

#LanguageChoice {
  -fx-alignment: center;
  -fx-padding: 20;
  -fx-border-color: white;
  -fx-text-fill: white;
}

#GamePieceChoice {
  -fx-alignment: center;
  -fx-padding: 20;
  -fx-border-color: white;
  -fx-text-fill: white;
}

#LanguageChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
  -fx-text-fill: white;
}
#StyleChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
  -fx-text-fill: white;
}

#GamePieceChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
  -fx-text-fill: white;
}
#DropDownText {
  -fx-text-fill: white;
}

#GameButtons {
  -fx-background-color: rgba(0,0,0, 0.9);
  -fx-border-color: white;
  -fx-padding: 10;
}

#SaveButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}

#BuyHouseButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}

#StartGameButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}
#LoadGameButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}
#EndTurnButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}

#GoToGameEditorButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}
#GameSelectVBox {
  -fx-spacing: 20;
  -fx-alignment: center;
  -fx-padding: 105;
  -fx-border-color: white;
  -fx-border-style: dotted;
  -fx-border-width:10;
  -fx-background-color: rgba(0, 13,26, 0.2)
}

#BuyHouseVBox {
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-base: black;
  -fx-padding: 20;
}
#SaveFileButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}
#EditDimensionsButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-text-fill: white;
  -fx-background-color: rgba(0,77,51, 0.2);
}
