.root {
  -fx-font-family: "Times New Roman";
  -fx-font-size: 16pt;
  -fx-text-alignment: center;
}

#Background {
  -fx-fill:
      linear-gradient(rgb(213,204,255), cornflowerblue);
}

#StartButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-background-color: rgba(238,204,255, 0.2);
}

#GamePiecePopUp {
  -fx-alignment: center;
  -fx-base: cornflowerblue;
}

#DiceRollPopUp {
  -fx-alignment: center;
  -fx-base: cornflowerblue;
}


#FileUploadButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-background-color: rgba(238,204,255, 0.2);
}

#MainVBox {
  -fx-alignment: center;
}

#StyleChoice {
  -fx-padding: 20;
  -fx-border-color: white;
  -fx-alignment: center;
}

#LanguageChoice {
  -fx-alignment: center;
  -fx-padding: 20;
  -fx-border-color: white;
}

#GamePieceChoice {
  -fx-alignment: center;
  -fx-padding: 20;
  -fx-border-color: white;
}

#LanguageChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
}
#StyleChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
}

#GamePieceChoiceBox {
  -fx-padding: 10;
  -fx-background-color: rgba(255,255,255, 0.2);
}

#GameButtons {
  -fx-background-color: rgba(179,191,255, 0.9);
  -fx-alignment: center;
  -fx-border-color: white;
  -fx-padding: 10;
}

#SaveButton {
  -fx-padding: 10;
  -fx-text-alignment: center;
  -fx-border-color: white;
  -fx-background-color: rgba(238,204,255, 0.2);
}
#GameSelectVBox {
  -fx-padding: 20;
  -fx-alignment: center;
}